@use '../base/colors' as c;
@use '../base/variables' as v;
@use '../base/mixins' as m;

.workflow-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem .8rem;
    @include m.sm {
        padding: .8rem 1.8rem;
    }
    h1, .h1 {
        margin: 0;
        font-size: 30px;
        font-weight: normal;
        text-align: left;
        width: auto;
    }
    margin: 2rem 0;
    .btn {
        margin-left: 8px;
    }
}
.section-header {
    margin: 0;
}

.section-main, .section-nested, .section-mini{
    header h2 {
        margin-left: 1rem;
    }
}

.section-main {
    margin-top: 3rem;
    &:first-of-type {
        margin-top: 2rem;
    }
}
.section-main, .section-mini {
    padding: 0;
    header {
        padding: .4rem;
        background: c.$light-grey-gradient-l;
        border-radius: v.$border-radius-md v.$border-radius-md 0 0;

        h2 {
            font-size: 26px;
            margin-bottom: 0;
            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }

    >div {
        padding-bottom: .5rem;
    }
}
.section-mini {
    max-width: 900px;
    margin: 0;
}

.section-nested {
    @extend .section-main;

    margin: 0 0 1.2rem 4px;
    @include m.sm {
        margin: 0 4px 1.2rem 12px;
    }

    box-shadow: none;
    backdrop-filter: unset;
    border-bottom: 10px solid c.$light-grey-1;
    border-radius: 0;
    header {
        border-radius: 0;
    }
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    >div {
        padding-bottom: 0;
    }
}

.container-images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 1rem;
    gap: .8rem;
    flex-wrap: wrap;
    img {
        max-height: 186px;
        box-shadow: v.$shadow-sm;
        border-radius: 8px;
        cursor: zoom-in;
        transition: scale .25s ease-in-out;
        &:hover {
            scale: 1.025;
            transition: scale .25s ease-in-out;
        }
    }
}
.wysiwyg-content {
    padding: 0 1rem;
    margin: 1rem 0;
}
.container-sections {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: .8rem;
    padding: 0 1rem;
    @include m.sm {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        place-items: center;
    }

    .mini-section-btn-wrapper {
        width: 100%;
        .mini-section-btn {
            min-height: 50px;
            background: c.$light-grey-gradient-l-dark;
            border: none;
            font-size: 26px;
            padding: 10px;
            display: block;
            width: 100%;
            border-radius: 8px;
            color: c.$blue-1;
            cursor: pointer;
            transition: scale .25s ease-in-out;
            &:hover {
                scale: 1.025;
                transition: scale .25s ease-in-out;
            }
            box-shadow: v.$shadow-sm;
        }
    }
}