node_modules
vendor

**/.*
!**/.htaccess*

tests
bootstrap/cache/*
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

package.lock
package.json
docker-compose*
Dockerfile*
phpunit.xml
vite.config.js
README.md

pre-production

fly.toml