@use '../base/colors' as c;
@use '../base/mixins' as m;
@use '../base/zindex' as z;

header#header {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 50px;
    @include m.lg() {
        height: auto;
    }

    &.sidebar-present {
        overflow: hidden;
        flex-direction: row;
        padding: .5rem 0;
        margin: 0 auto;
        width: 100%;

        position: sticky;
        top: 0;
        z-index: z.$header-when-sidebar;
        background: c.$mint-gradient-l-transparent;
        backdrop-filter: blur(2px);
        max-width: 100%;

        div:last-of-type {
            margin-left: auto;
            margin-right: .3rem;
            margin-bottom: 0;
            opacity: 100%;
            transition: opacity ease-in-out .5s;
        }
        @include m.lg {
            display: none;
        }
    }
    &.sidebar-showing {
        // position: relative;
        div:last-of-type {
            opacity: 0%;
            transition: opacity ease-in-out .5s;
            pointer-events: none;
        }
        #sidebar-btn {
            position: absolute;
            left: 100%;
            translate: calc(-100% - .6rem);
            transition: left ease-in-out .5s, translate ease-in-out 1s;
        }
    }

    #sidebar-btn {
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        cursor: pointer;
        svg {
            stroke: c.$blue-1;
        }
        position: absolute;
        left: 0;
        translate: .6rem;
        transition: left ease-in-out .5s, translate ease-in-out 1s;
    }

    .brand {
        margin-bottom: 1rem;
    }
    @include m.sm {
        flex-direction: row;
        .brand {
            margin-bottom: 0;
        }
    }

    nav {
        display: flex;
        :last-child {
            margin-left: 1rem;
        }
    }
}

footer#footer {
    padding: 1rem 0;
    background: c.$mint-gradient-l;

    nav {
        display: flex;
        justify-content: space-around;
        margin: 1.5rem 0 2.5rem 0;

        li:not(:last-of-type) {
            margin-bottom: 1.2rem;
        }
        a {
            color: inherit;
            text-decoration: none;
        }
    }

    select {
        cursor: pointer;
        background-color: transparent;
        border: 1px solid transparentize($color: c.$blue-1, $amount: .6);
        border-radius: 5px;
        color: c.$blue-1;
        margin-left: -4px;
        padding-right: 6px;

        option {
            background-color: c.$bg-0;
        }
    }
}