@use './variables' as v;
@use './colors' as c;

.debug {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px !important;
    font-weight: normal !important;
    color: red !important;
    text-decoration: wavy !important;
    padding: 2px !important;
    border: 1px solid red !important;
    border-radius: 4px !important;
    margin: 0 !important;
    display: inline !important;
    position: absolute !important;
    left: 95% !important;
}

.text-center {
    text-align: center !important;
}

.align-center {
    display: block !important;
    margin: 0 auto !important;
}

.grey-container {
    @extend .glass;
    background: c.$light-grey-gradient-l;
    padding: 1.2rem 1.8rem;
    border-radius: v.$border-radius-md;
    box-shadow: v.$shadow;
}

.container {
    width: 98%;
    max-width: 900px;
    margin: 0 auto;
}

.glass {
    backdrop-filter: blur(4px);
}

.m-0 {
    margin: 0 !important;
}

.m-t-2 {
    margin-top: 2rem !important;
}
.m-t-1 {
    margin-top: 1rem !important;
}

.m-b-1 {
    margin-bottom: 1rem !important;
}
.m-b-2 {
    margin-bottom: 2rem !important;
}
.m-b-3 {
    margin-bottom: 3rem !important;
}

.m-l-1 {
    margin-left: 1rem !important;
}
.m-r-1 {
    margin-right: 1rem !important;
}

.w-100 {
    width: 100% !important;
}
.w-50 {
    width: 50% !important;
}

.d-b {
    display: block !important;
}

.loading-cursor {
    cursor: wait !important;
}

.btn {
    width: fit-content;
    border: none;
    border-radius: v.$border-radius-sm;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: v.$shadow-sm;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    overflow-wrap: break-word;

    color: c.$blue-1;

    &.btn-primary {
        background: c.$mint-gradient-l;
        &:hover {
            background: c.$mint-gradient-l-dark;
        }
        &:disabled {
            background: darken(desaturate(c.$mint-1, 11%), 8%);
        }
    }
    &.btn-secondary {
        color: c.$mint-1;
        background: c.$blue-gradient-l;
        &:hover {
            background: c.$blue-gradient-l-dark;
        }
    }
    &.btn-edition {
        background: c.$purple-gradient-l;
        &:hover {
            background: c.$purple-gradient-l-dark;
        }
    }
    &.btn-danger {
        background: c.$error-bg;
        &:hover {
            background: darken($color: c.$error-bg, $amount: 10%);
        }
    }
}

.unstyled-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.custom-scrollbar {
    $scroll-track-color: transparentize($color: c.$mint-0, $amount: .3);
    $scroll-thumb-color: darken($color: c.$mint-1, $amount: 15);
    
    /* Webkit based browsers (Chrome, Safari) */
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-track {
        background-color: $scroll-track-color;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $scroll-thumb-color;
        border-radius: 90px;
    }

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: $scroll-thumb-color $scroll-track-color;

    /* Internet Explorer */
    -ms-overflow-style: none;
    scrollbar-face-color: $scroll-thumb-color;
    scrollbar-track-color: $scroll-track-color;

    
    &.modal-content {
        &::-webkit-scrollbar-track {
            background-color: darken($color: $scroll-track-color, $amount: 50%);
        }
        scrollbar-color: $scroll-thumb-color darken($color: $scroll-track-color, $amount: 50%);
    }
}
body.custom-scrollbar, html.custom-scrollbar {
    &::-webkit-scrollbar {
        width: 10px;
    }
    scrollbar-width: auto;
}

.no-scroll {
    overflow: hidden !important;
}